.info {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.54);
  background: #ffffff;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;

  // .info__content
  &__content {
    padding: 24px 32px 0px 32px;
  }

  h1 {
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
  }

  h2 {
    margin: 16px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
  }

  p {
    margin: 16px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 22px;
  }

  // .info__button
  &__button {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    color: #8dc641;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -12px 22px -8px rgba(0, 0, 0, 0.16);
    background: #ffffff;
    cursor: pointer;
    user-select: none;

    .open-more {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

    &:hover {
      color: #699f25;
    }
  }
}
