.container-payment {
  min-height: 360px;
}
.container-translation {
  display: flex;
}
.translation-data {
  position: relative;
  padding: 24px 32px;
}
.translation-data--title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.translation-data--name {
  padding: 8px 0px;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  font-weight: 400;
  overflow: auto;
}
.translation-data--card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.translation-data--price {
  margin-top: 24px;
  display: flex;
  span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 20px;
    text-align: left;
  }
  p {
    padding: 8px 0px;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(141, 198, 65);
    font-weight: 600;
  }
  .translation-commission {
    color: rgba(0, 0, 0, 0.87);
  }
}

.price-container {
  width: 236px;
}

.translation-flip {
  position: absolute;
  right: 581px;
  top: 27px;
  opacity: 0.54;
  width: 48px;
  height: 48px;
}
.translation-data--left {
  padding-right: 98px;
}
.translation-data--right {
  padding-left: 98px;
}
.translation-price {
  font-size: 22px;
  line-height: 30px;
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  span {
    font-weight: 600;
  }
}
.translation-buttons {
  display: flex;
  justify-content: center;
}

.btn-back {
  transition-property: background, border, box-shadow, color;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 4px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  word-break: normal;
  color: rgba(0, 0, 0, 0.54);
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
  white-space: nowrap;
  border-style: none;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  margin-right: 8px;
}

.btn-submit--hover {
  &:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(105, 159, 37);
    background: rgb(105, 159, 37);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px, rgba(0, 0, 0, 0.12) 0px 2px 8px 0px;
    cursor: pointer;
  }
}

.btn-back--hover {
  &:hover {
    color: rgb(0, 0, 0);
    border-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px, rgba(0, 0, 0, 0.12) 0px 2px 8px 0px;
    cursor: pointer;
  }
}
